apiVersion: v1
baseDomain: {{ network_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ openshift_clustername }}
networking:
  clusterNetworks:
  - cidr: {{ openshift_clusternet }}
    hostPrefix: {{ openshift_clusternetprefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ openshift_servicenet }}
platform:
  none: {}
fips: false
pullSecret: '{{ ocp_pull_secret }}'
sshKey: '{{ sshkeypub.content | b64decode }}'
