apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-storage-provisioner
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: nfs-storage
parameters:
  archiveOnDelete: "false"
mountOptions:
- rw
- relatime
- vers=3
- rsize=524288
- wsize=524288
- namlen=255
- hard
- intr
- proto=tcp
- timeo=600
- retrans=2
- sec=sys
- mountvers=3
- mountport=20048
- mountproto=tcp
- local_lock=all
